body {
    font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #e1dfb9; /* Цвет фона */
}
h2 {
    font-size: 1.1em; /* Размер шрифта */
    color: #800040; /* Цвет текста */
    margin-top: 0; /* Отступ сверху */
}

#login {
    padding: 0.5%;
    border: 1px solid #0b1454;
    width: 10%; /* Ширина слоя */
    height: 15%;
    margin: 20% auto; /* Выравнивание по центру */
    background: #f0f0f0; /* Цвет фона левой колонки */
}
#container {
    width: 45%; /* Ширина слоя */
    height: 90%;
    margin: 0 auto; /* Выравнивание по центру */
    background: #f0f0f0; /* Цвет фона левой колонки */
}
#header {
    font-size: 2.2em; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    padding: 5px; /* Отступы вокруг текста */
    background: #8fa09b; /* Цвет фона шапки */
    color: #ffe; /* Цвет текста */
}
#sidebar {

    margin-top: 10px;
    width: 180px; /* Ширина слоя */
    height: 80%;
    padding: 0 10px; /* Отступы вокруг текста */
    float: left; /* Обтекание по правому краю */
}
#content {
    margin-left: 210px; /* Отступ слева */
    height: 88%;
    padding: 10px; /* Поля вокруг текста */
    background: #fff; /* Цвет фона правой колонки */
}
#footer {
    background: #8fa09b; /* Цвет фона подвала */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    clear: left; /* Отменяем действие float */
}